<nav id="top-nav">
    <div class="container">
        <img src="/svg/weblogo3.svg" alt="logo" id="logo" />

        <p id="nav-brand">My Portfolio</p>

        <div id="icons">
            <div class="active" id="about">
                <i class="fa fa-user-alt"></i><span>About</span>
            </div>
            <div id="works">
                <i class="fa fa-code-branch"></i><span>Projects</span>
            </div>
            <div id="contacts">
                <i class="fa fa-phone-alt"></i><span>Contacts</span>
            </div>
        </div>

        <div id='hamburger'>
            <div id="hamburger-cont">
                <div class="hb-line" id='hb-first'></div>
                <div class="hb-line" id='hb-second'></div>
                <div class="hb-line" id='hb-third'></div>
            </div>
        </div>
    </div>
</nav>

<nav id="side-nav">
    <img src="/svg/weblogo3.svg" alt="logo">
   <ul>
       <li class="active side-icon"><i class="fa fa-user-alt"></i><p>About</p></li>
       <li class="side-icon"><i class="fa fa-code-branch"></i><p>Projects</p></li>
       <li class="side-icon"><i class="fa fa-phone-alt"></i><p>Contacts</p></li>
   </ul> 
</nav>

<!-- Home/Showcase/Landing Page -->
<div id="showcase">
    <div id="side-cont">
        <div class="overlay"></div>
        <div id="side-content">
            <div id="profile-cont">
                <img src="/svg/weblogo.svg" alt="" id="profile_pic" />
            </div>
            <div id="icon-cont">
                <i class="fab fa-facebook-square t-light f-md"></i>
                <i class="fab fa-twitter-square t-light f-md"></i>
                <i class="fab fa-github-square t-light f-md"></i>
                <i class="fab fa-linkedin t-light f-md"></i>
            </div>
            <div id="go-main-cont">
                <div id="go-main" class="fa fa-arrow-right f-md"></div>
            </div>
        </div>
    </div>

    <div id="main-cont">
        <div class="overlay"></div>
        <div id="main-content">
            <div id="banner">
                <h1>FRANCES <span class="t-primary">G.</span></h1>
                <p>
                    <span class="t-danlight">Web Developer</span>,
                    <span class="t-slight">Programmer</span>,
                    <span class="t-plight">Future Economist</span> &
                    <span class="t-dlight">Layout Designer</span>
                </p>
            </div>
            <div id="go-main-cont-mb">
                <div id="go-main-mb" class="fa fa-arrow-right f-md"></div>
            </div>
        </div>
    </div>

    <div id="left-cont">
        <div class="overlay"></div>
    </div>
</div>

<!-- About Page -->
<section class="pages" id="about-page">
    <div class="container">
        <h1 class="title" id="about-title">
            About <span class="t-primary phrase" id="me">Me</span>
        </h1>
        <div class="fade pages-content" id="p-info">
            <h3>Personal Details</h3>
            <div id="personal-details">
                <div>
                    <svg
                        version="1.1"
                        id="Layer_1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        width="144px"
                        height="144px"
                        viewBox="0 0 144 144"
                        enable-background="new 0 0 144 144"
                        xml:space="preserve"
                    >
                        <g id="main-logo">
                            <g id="upper-line">
                                <polygon
                                    fill="#6CC7DD"
                                    points="96.007,77.625 96.007,77.688 71.179,96.767 35.343,123.898 35.188,97.405 56.524,81.252 
                                    56.68,107.444 92.513,80.312 		"
                                />
                                <polygon
                                    fill="#1CA4C9"
                                    points="96.162,50.959 96.096,61.353 96.007,77.625 92.513,80.312 56.68,107.444 56.524,81.252 
                                    71.216,70.128 96.096,50.995 		"
                                />
                            </g>
                            <g id="mid-line">
                                <polygon
                                    fill="#1CA4C9"
                                    points="105.721,37.996 80.48,57.394 80.48,30.774 105.555,11.494 		"
                                />
                                <polygon
                                    fill="#6CC7DD"
                                    points="80.48,30.774 80.48,57.394 55.671,76.454 55.616,66.06 55.644,49.87 		"
                                />
                            </g>
                            <g id="lower-line">
                                <polygon
                                    fill="#6CC7DD"
                                    points="82.237,115.775 57.286,138.052 57.32,112.927 82.144,93.851 		"
                                />
                            </g>
                        </g>
                        <circle
                            transform="rotate(-90, 72, 72)"
                            id="circle"
                            fill="none"
                            stroke="#025D6B"
                            stroke-width="5"
                            stroke-miterlimit="10"
                            cx="72"
                            cy="72"
                            r="70.083"
                        />
                    </svg>
                </div>

                <div class="details">
                    <p>Little facts about me...</p>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Praesentium assumenda, esse illum voluptate qui
                        rerum ut facilis temporibus dignissimos impedit
                        distinctio eveniet aliquid cum quis asperiores commodi
                        accusamus aliquam ad omnis ipsa quasi reprehenderit!
                        Obcaecati earum quaerat quae expedita repudiandae. Ea
                        corporis recusandae, sapiente expedita quaerat voluptate
                        modi enim aperiam repudiandae ut praesentium tempora
                        consectetur neque quibusdam perferendis quidem ducimus
                        maxime, deleniti saepe vero. Expedita quam dignissimos
                        cum iste id neque qui consequuntur saepe assumenda
                        deleniti sunt, distinctio, illo perferendis harum
                        reprehenderit possimus voluptate sit nesciunt!
                        Necessitatibus suscipit quae voluptas voluptates nisi
                        neque deleniti? Quibusdam eos nam cum totam commodi.
                    </p>
                </div>
            </div>
        </div>

        <div class="fade pages-content" id="experience">
            <h3>My Experiences as a Junior Web dev...</h3>
            <div class="owl-carousel owl-theme" id="carousel">
                <div class="item">
                    <div>
                        <h2>Experience <span>1</span></h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Dolorem numquam necessitatibus eius, officiis
                            minima quaerat repellat quia tempora similique
                            illum!
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <div>
                            <h2>Experience <span>2</span></h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Dolorem numquam necessitatibus
                                eius, officiis minima quaerat repellat quia
                                tempora similique illum!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div>
                        <h2>Experience <span>3</span></h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Dolorem numquam necessitatibus eius, officiis
                            minima quaerat repellat quia tempora similique
                            illum!
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="fade pages-content" id="know">
            <h3>Let me tell you about how I code...</h3>
            <div id="know-cont">
                <div class="knows" id="know1">
                    <i class="fa fa-cog"></i>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Omnis laudantium minus eum cupiditate aspernatur cumque
                        quia at repellat corrupti magni!
                    </p>
                </div>
                <div class="fade knows" id="know2">
                    <i class="fa fa-code"></i>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Doloremque perferendis sequi error, cum quaerat
                        nihil porro deserunt necessitatibus cupiditate dicta.
                    </p>
                </div>
                <div class="fade knows" id="know3">
                    <i class="fa fa-mobile-alt animated shake infinite"></i>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Doloremque perferendis sequi error, cum quaerat
                        nihil porro deserunt necessitatibus cupiditate dicta.
                    </p>
                </div>
            </div>
        </div>

        <div class="fade pages-content" id="stat">
            <h3>My Statistics as a Junior Web Developer</h3>
            <div class="stat-cont" id="html-cont">
                <i class="fab fa-html5"></i>
                <div class="progresses">
                    <div class="progress-bars-cont" id="html-progress-cont">
                        <div class="progress-name">
                            <span class="fab fa-html5"></span>
                            <p>html5</p>
                        </div>
                        <div class="progress-bar">
                            <div
                                class="progress"
                                id="html-progress"
                                data-percent="90"
                            ></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="stat-cont" id="css-cont">
                <i class="fab fa-css3-alt"></i>
                <div class="progresses">
                    <div class="progress-bars-cont" id="css-progress-cont">
                        <div class="progress-name">
                            <span class="fab fa-css3"></span>
                            <p>css</p>
                        </div>
                        <div class="progress-bar">
                            <div
                                class="progress"
                                id="css-progress"
                                data-percent="95"
                            ></div>
                        </div>
                    </div>

                    <div
                        class="progress-bars-cont"
                        id="bootstrap-progress-cont"
                    >
                        <div class="progress-name">
                            <span class="fab fa-bootstrap"></span>
                            <p>Bootstrap</p>
                        </div>
                        <div class="progress-bar">
                            <div
                                class="progress"
                                id="bootstrap-progress"
                                data-percent="85"
                            ></div>
                        </div>
                    </div>

                    <div
                        class="progress-bars-cont"
                        id="materialized-progress-cont"
                    >
                        <div class="progress-name">
                            <span></span>
                            <p>Materialized.css</p>
                        </div>
                        <div class="progress-bar">
                            <div
                                class="progress"
                                id="materialized-progress"
                                data-percent="60"
                            ></div>
                        </div>
                    </div>

                    <div class="progress-bars-cont" id="sass-progress-cont">
                        <div class="progress-name">
                            <span class="fab fa-sass"></span>
                            <p>sass</p>
                        </div>
                        <div class="progress-bar">
                            <div
                                class="progress"
                                id="sass-progress"
                                data-percent="40"
                            ></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="stat-cont" id="js-cont">
                <i class="fab fa-js-square"></i>
                <div class="progresses">
                    <div
                        class="progress-bars-cont"
                        id="vanillajs-progress-cont"
                    >
                        <div class="progress-name">
                            <span class="fab fa-js"></span>
                            <p>Vanilla.JS</p>
                        </div>
                        <div class="progress-bar">
                            <div
                                class="progress"
                                id="vanillajs-progress"
                                data-percent="80"
                            ></div>
                        </div>
                    </div>

                    <div class="progress-bars-cont" id="react-progress-cont">
                        <div class="progress-name">
                            <span class="fab fa-react"></span>
                            <p>React.JS</p>
                        </div>
                        <div class="progress-bar">
                            <div
                                class="progress"
                                id="react-progress"
                                data-percent="65"
                            ></div>
                        </div>
                    </div>

                    <div class="progress-bars-cont" id="node-progress-cont">
                        <div class="progress-name">
                            <span class="fab fa-node"></span>
                            <p>Node.JS</p>
                        </div>
                        <div class="progress-bar">
                            <div
                                class="progress"
                                id="node-progress"
                                data-percent="50"
                            ></div>
                        </div>
                    </div>

                    <div class="progress-bars-cont" id="express-progress-cont">
                        <div class="progress-name">
                            <span></span>
                            <p>Express.JS</p>
                        </div>
                        <div class="progress-bar">
                            <div
                                class="progress"
                                id="express-progress"
                                data-percent="40"
                            ></div>
                        </div>
                    </div>

                    <div class="progress-bars-cont" id="jq-progress-cont">
                        <div class="progress-name">
                            <span></span>
                            <p>jquery</p>
                        </div>
                        <div class="progress-bar">
                            <div
                                class="progress"
                                id="jq-progress"
                                data-percent="50"
                            ></div>
                        </div>
                    </div>

                    <div class="progress-bars-cont" id="npm-progress-cont">
                        <div class="progress-name">
                            <span class="fab fa-npm"></span>
                            <p>npm</p>
                        </div>
                        <div class="progress-bar">
                            <div
                                class="progress"
                                id="npm-progress"
                                data-percent="30"
                            ></div>
                        </div>
                    </div>

                    <div class="progress-bars-cont" id="p5-progress-cont">
                        <div class="progress-name">
                            <span></span>
                            <p>p5.JS</p>
                        </div>
                        <div class="progress-bar">
                            <div
                                class="progress"
                                id="p5-progress"
                                data-percent="50"
                            ></div>
                        </div>
                    </div>
                </div>

                <div class="stat-cont" id="others-cont">
                    <i class="fa fa-magic"></i><span class="f-md">Others</span>
                    <div class="progresses">
                        <div
                            class="progress-bars-cont"
                            id="mysql-progress-cont"
                        >
                            <div class="progress-name">
                                <span></span>
                                <p>Mysql</p>
                            </div>
                            <div class="progress-bar">
                                <div
                                    class="progress"
                                    id="mysql-progress"
                                    data-percent="30"
                                ></div>
                            </div>
                        </div>

                        <div
                            class="progress-bars-cont"
                            id="mongodb-progress-cont"
                        >
                            <div class="progress-name">
                                <span></span>
                                <p>MongoDB</p>
                            </div>
                            <div class="progress-bar">
                                <div
                                    class="progress"
                                    id="mongodb-progress"
                                    data-percent="30"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- My Works -->
<section class="pages" id="myworks">
    <div class="container">
        <h1 class="title" id="myworks-title">
            My <span class="t-primary phrase">Works</span>
        </h1>
        <div class="fade pages-content" id="myworks-content">
            <div class="projects fade-onviewport">
                <div class="projects-img">Work1</div>
                <p class="projects-title">Project Title</p>
                <div class="projects-icons">
                    <a href="#" class="fab fa-github projects-icons-icon"></a>
                    <a
                        href="#"
                        class="fa fa-external-link-alt projects-icons-icon"
                    ></a>
                </div>
            </div>

            <div class="projects fade-onviewport">
                <div class="projects-img">Work2</div>
                <p class="projects-title">Project Title</p>
                <div class="projects-icons">
                    <a href="#" class="fab fa-github projects-icons-icon"></a>
                    <a
                        href="#"
                        class="fa fa-external-link-alt projects-icons-icon"
                    ></a>
                </div>
            </div>

            <div class="projects fade-onviewport">
                <div class="projects-img">Work3</div>
                <p class="projects-title">Project Title</p>
                <div class="projects-icons">
                    <a href="#" class="fab fa-github projects-icons-icon"></a>
                    <a
                        href="#"
                        class="fa fa-external-link-alt projects-icons-icon"
                    ></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pages" id="contact-me">
    <div class="container">
        <h1 class="title" id="contact-title">
            Contact <span class="t-primary phrase">Me</span>
        </h1>
        <div class="fade pages-content" id="contact-content">
            <h3 class="fade-onviewport">
                Want to hire me or Work Together?
            </h3>
            <p>Contact me at...</p>
            <div class="contacts">
                <div class="contacts-contact">
                    <div>
                        <p>Email:</p>
                        <p>francesg@gmail.com</p>
                    </div>
                </div>
                <div class="contacts-contact">
                    <div>
                        <p>Cellphone No.:</p>
                        <p>(+63)9222 555 100</p>
                    </div>
                </div>
                <div class="contacts-contact">
                    <div>
                        <p>Messenger:</p>
                        <p>@messenger</p>
                    </div>
                </div>
            </div>
            <div id="or-cont">
                <div class="line"></div>
                <p>or</p>
                <div class="line"></div>
            </div>
            <p>Message me directly...</p>
            <form id="contact" method="POST" action="send">
                <div class="form-group" action="#">
                    <%- include('./partials/errors') %>
                    <label class="label" for="name">Name:</label>
                    <input
                        name="name"
                        class="form form-input"
                        type="name"
                        id="name"
                        placeholder="Name"
                        value= "<%= typeof name != 'undefined' ? name : '' %>"
                    />
                    <label class="label" for="email">Email:</label>
                    <input
                        name="email"
                        class="form form-input"
                        type="text"
                        id="email"
                        placeholder="Email"
                        value= "<%= typeof name != 'undefined' ? email : '' %>"
                    />
                    <% if(email_msg != '') { %>
                        <p class="err em-err">
                            *<%= email_msg %>
                        </p>
                    <% } %>
                    <label class="label" for="message">Message:</label>
                    <textarea
                        name="body"
                        class="form"
                        id="message"
                        cols="30"
                        rows="10"
                        placeholder="Your Message..."
                    ><%= typeof name != 'undefined' ? body : '' %></textarea>
                </div>
                <button>Submit</button>
            </form>
        </div>
    </div>
</section>
<footer class="pages">
    Frances G. &copy; 2019 <br />
    <div id="footer-icon">
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-twitter-square "></i></a>
        <a href="#"><i class="fab fa-github-square"></i></a>
        <a href="#"> <i class="fab fa-linkedin"></i> </a>
    </div>
</footer>
